/********* NAVIGATION *********/
/****** MOBILE ******/
@media screen and (max-width: 738px)
{
.toggle_active~.nav_menu
{
    background: linear-gradient(to bottom,
    rgba(25, 50, 65, 0),
    rgba(25, 50, 65, 0.5),
    rgba(25, 50, 65, 0.5),
    rgba(25, 50, 65, 0));
}

.header_contacto 
{
    background-image: url('../assets/imagenes/header_contacto.jpg');
    background-size: cover;
    background-position: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    font-family: var(--fuente-principal);
    font-size: 2.5rem;
}

main
{
    display: flex;
    flex-direction: column;
    column-gap: 5%;

    & p
    {
        padding: 10px;
    }
}

#contacto 
{
    text-align: center;
    color: #2E4053;
    margin-top: 20px;
    padding: 10px;
}

label
{
    color: var(--color-primario);
    font-family: var(--fuente-secundaria);
    font-weight: bold;
}



input[type="text"], input[type="email"] 
{
    width: 30%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
}

#mensaje 
{
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

form 
{
    max-width: 600px;
    margin: 0 auto;
    background-color: #F4F6F7;
    padding: 20px;
    border: #2E4053 dashed 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset 
{
    border: #4dbfc3 solid 1px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    font-family:'Courier New', Courier, monospace;
}

input:focus, textarea:focus 
{
    border-color: #4CAF50;
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}

legend 
{
    font-weight: bold;
    padding: 0 10px;
    color: #2E4053;
}

}